.fusePath {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  filter: drop-shadow(0 0 3px white);
}

.fuseSparkContainer::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: radial-gradient(white, yellow);
  animation: spark-trail 4s linear forwards;
  z-index: 30;
}

@keyframes spark-trail {
  0% {
    top: -8px;
    left: -8px;
    opacity: 1;
    transform: scale(1);
  }
  25% {
    top: -8px;
    left: calc(100% - 8px);
  }
  50% {
    top: calc(100% - 8px);
    left: calc(100% - 8px);
  }
  75% {
    top: calc(100% - 8px);
    left: -8px;
  }
  100% {
    top: -8px;
    left: -8px;
    opacity: 0;
    transform: scale(0.2);
  }
}
