* {
  box-sizing: border-box;
}

.app-container > * {
  /* background: #2980b9;
  background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #ffffff, #6dd5fa, #2980b9); */
}

/* Hide scrollbar but allow scroll (for all browsers) */
body {
  overflow-y: scroll; /* Enable scroll */
  /* scrollbar-width: none; Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Safari + Chrome */
}
/* 
body,
* {
  cursor: none !important;
} */

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.gold-chip {
  background-image: linear-gradient(
    110deg,
    #ffd700 0%,
    #ffa500 40%,
    #fff8dc 50%,
    #ffa500 60%,
    #ffd700 100%
  );
  background-size: 200% auto;
  animation: shimmer 2.5s linear infinite;
  color: white !important;
  font-weight: bold;
}

/* Tick Mark Animation */
@keyframes draw-circle {
  0% {
    stroke-dashoffset: 283;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-check {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animate-circle {
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation: draw-circle 0.6s ease-out forwards;
}

.animate-check {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: draw-check 0.4s ease-out 0.6s forwards;
}
